.formp{
    width: 300px;
    padding: 16px;
    border-radius:10px;
    margin: auto;
    background-color:rgba(228, 235, 229, 0.774);
}

.formp input[type="text"]{
    width: 180px;
    padding: 3px 10px;
    border: 2px solid #f6f6f6f6;
    background-color: #f6f6f6f6;
    border-radius: 3px;
    margin: 8px 0;
    display: inline-block;
}

.formp label{
    width: 72px;
    display: inline-block;
    font-weight: bold;
}

.formp input[type="submit"]{
    width: 100%;
    padding: 8px 16px;
    margin-top: 32px;
    border-radius: 10px;
    display: block;
    background-color: rgb(206, 27, 21);
    color:#fff
}

.cardf{
    width: 400px;
    padding: 16px;
    border-radius:10px;
    margin: auto;
}
