.ses{

    width: 100%;
    padding: 10px;

    background-image: url("../contactos/fondo/Imgur.jpg");


}

.regi{


    width: auto;
    padding: 10px;

    background-image: url("../contactos/fondo/id.jpg");


}

.form{
      width: 400px;
    padding: 10px;
    border-radius:20px;
    margin: auto;
    background-color:rgba(113, 216, 241, 0.774);
}

.form-title{
    text-align: center;
    margin-bottom: 16px;
    font-size: 2em;
}

.error-block{
    padding: 12px;
    width: 100%;
    background: #ffb9c5;
    color: brown;
    border-radius: 3px;
    margin-bottom: 16px;
    box-sizing: border-box;
    display: none;
}
.error{
    font-size: 1.1em;
}
.sucess{
    background: #c1ffb9;
    color: #16790d;
}

.input-block{
    text-align: center;
}
.label{
    display: block;
    margin-bottom: 8px;
    font-size: 1.1em;
    text-align: left;
}
.input-info{
    text-align: left;
    margin-top: -18px;
    margin-bottom: 24px;
    color: #888;
}
.input{
    width: 100%;
    border-radius: 3px;
    font-size:1.1em;
    padding: 8px 12px;
    border: 1px solid #ccc;
    color:#1d1d1d;
    margin-bottom: 24px;
    outline: 0;
    box-sizing: border-box;
}

.input-submit{
    padding: 8px 20px;
    border: 0;
    font-size: 1.1em;
    background: #258bad;
    color: #fff;
    border-radius: 3px;
    outline: 0;
    transition: 0.15 ease-in-out background;
}

.input-submit:hover{
    background: #24a4cf;
}